$shade-0: #fff !default;
$shade-1: #d7dcdf !default;
$shade-10: #2c3e50 !default;
$teal: #1abc9c !default;

html,
body {
  margin: 0;
  padding: 0;

  background: #F8EDE3;
  color: $shade-10;
  font-family: "Roboto", sans-serif;
  height: 100%;
  overflow: hidden;
}

.button-container{
  position: absolute;
  right: 0;
  bottom: 0;
  height: 200px;
  display: grid;
  grid-row: auto;
  padding: 2%;
}

.title {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: $shade-10;

  position: absolute;
  margin: 0.2em 0 0 0;
  padding: 2%;
  width: 100%;

  text-align: left;
  font-size: 4em;
  text-transform: full-width;
}

.simulation-window {
  border-radius: 2px;
  border-color: $shade-10;
  height: 100%;
  width: 100%;
  opacity: 50%;
  z-index: -1;
}

.panel {
  position: absolute;
  bottom: 0;
  margin: 0 5em;
  padding: 5em 0 1em 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 20%;
  transition: 500ms ease-in-out;

  &:hover {
    opacity: unset;
  }

  &__buttons {
    margin-top: 1em;

    & > * {
      min-width: 10em;

      &:not(:first-child) {
        margin-left: 1em;
      }
    }
  }
}

.button {
  color: $shade-10;
  background: transparent;
  padding: 0.5em 2em;

  border: none;

  transition: 250ms;
  font-size: 1.4em;
  text-decoration: none;

  &:hover {
    transform: scale(1.1);
    transform: translate3d(-10px, -10px, 10px);
  }

  &:active {
    transform: scale(0.9);
  }
}

.settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > * {
    flex-basis: 30%;
  }
}

.project {
    color: $shade-10
}

// Firefox Overrides
::-moz-range-track {
  background: $shade-10;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}