$shade-0: #fff !default;
$shade-1: #d7dcdf !default;
$shade-10: #2c3e50 !default;
$teal: #1abc9c !default;
$beige: #F8EDE3;
// $box-shadow:
$outer-margin: 3%;
$border-radius: 5px;

html,
body {
  margin: 0;

  background: $beige;
  color: $shade-10;
  font-family: "Roboto", sans-serif;
  height: 100%;
  overflow: hidden;
}

.button-container {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 200px;
  display: grid;
  grid-row: auto;
  margin: $outer-margin;
}

.title {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: $shade-10;
  font-size: 4em;
}

.under-title {
  font-style: italic;
  font-size: 1.3em;
  margin-top: -20px;
}

.simulation-window {
  height: 100%;
  width: 100%;
  opacity: 50%;
  z-index: -1;
}

.button {
  color: $shade-10;
  background: transparent;
  padding: 0.5em 2em;

  border: none;

  transition: 250ms;
  font-size: 1.4em;
  text-decoration: none;

  &:hover {
    transform: scale(1.1);
    transform: translate3d(-10px, -10px, 10px);
  }

  &:active {
    transform: scale(0.9);
  }
}

.settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &>* {
    flex-basis: 30%;
  }
}

.project-container {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: $outer-margin;
  padding: 1%;
  background-color: $beige;
  max-width: 80%;


  border-radius: $border-radius;
  border-color: $shade-10;
  border-style: solid;
}

.about-container {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: $outer-margin;
  padding: 1%;
  background-color: $beige;
  max-width: 31%;

  border-radius: $border-radius;
  border-color: $shade-10;
  border-style: solid;
}

.title-container {
  position: absolute;
  margin: $outer-margin;
  width: 100%;
  text-align: left;
  text-transform: full-width;
}

// Firefox Overrides
::-moz-range-track {
  background: $shade-10;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}