$shade-0: #fff !default;
$shade-1: #d7dcdf !default;
$shade-2: #FF731D;
$shade-10: #2c3e50 !default;
$teal: #1abc9c !default;
$beige: #F8EDE3;
// $box-shadow:
$outer-margin: 3%;
$border-radius: 0px;
$inner-padding: 1%;
$media-max-ht: 63%;
$media-max-wd: 50%;

html,
body {
  margin: 0;

  background: $beige;
  color: $shade-10;
  font-family: "Roboto", sans-serif;
  height: 100%;
  overflow: hidden;

  border-radius: $border-radius;
  border-color: $shade-10;
  border-style: solid;
  border-width: 2px;
}


.button-container {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 30%;
  width: auto;
  display: grid;
  grid-row: auto;
  margin: $outer-margin;
  text-align: center;
  max-width: 12%;
}

.icon {
  font-size: 1.4em;
}

.title {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $shade-10;
  font-style: italic;
  font-size: 4em;
}

.under-title {
  font-style: italic;
  font-size: 1.3em;
  margin-top: -20px;
}

.simulation-window {
  height: 100%;
  width: 100%;
  opacity: 50%;
  z-index: -1;
}

.button {
  color: $shade-10;
  background: transparent;
  padding-top: 10px;

  border: none;
  padding: 5px;

  transition: 250ms;
  font-size: 1.3em;
  text-decoration: none;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  &:active {
    transform: scale(0.9);
  }
}

.project-container {
  padding: $inner-padding;
  background-color: $beige;

  text-align: left;
  overflow-x: scroll;
  overflow-y: scroll;

  display: grid;
  grid-row: auto;

  border-radius: $border-radius;
  border-color: $shade-10;
  border-style: solid;
  border-width: 2px;

  max-width: $media-max-wd;
  max-height: $media-max-ht;
  position: absolute;

  left: 0;
  bottom: 0;

  margin: $outer-margin;
}

.project-container img{
  position: relative;
  max-width: 100%;

  border-radius: 2px;
  border-style:solid;
  border-color: $shade-10;
}

.project-container h1 {
  font-style: italic;
  font-size: 1.5em;
  margin-left: 1%
}

.project-container h2 {
  font-style: italic;
  font-size: 1.2em;
  margin-left: 1%
}

.project-container .inner-p{
  text-decoration: none;
  font-weight: bold;
  color: $shade-10
}

.back-button {
  z-index: 10;

  position: sticky;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  color: $beige;
  background: $shade-10;
  text-align: center;

  border: none;
  transition: 250ms;
  font-size: 1.4em;
  text-decoration: none;

  &:hover {
    transform: scale(1.1);
    transform: translate3d(-2px, -2px, 2px);
    cursor: pointer;
  }

  &:active {
    transform: scale(0.9);
  }
}

.about-container {
  max-width: $media-max-wd;
  max-height: $media-max-ht;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: $outer-margin;
  padding: $inner-padding;

  background-color: $beige;

  overflow: auto;
  overflow-y: scroll;

  border-radius: $border-radius;
  border-color: $shade-10;
  border-style: solid;
}

@media screen and (max-width: 520px) {
  .side {
      writing-mode: vertical-lr;
  }

  .project-container {
    max-height: auto;
    max-width: 80%;
  }
  .about-container {
    max-height: auto;
    max-width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .under-title {
    display: none;
  }
}

*::-webkit-scrollbar {
  width: 6px; /* Mostly for vertical scrollbars */
  height: 6px;
}
*::-webkit-scrollbar-thumb {
  background: $shade-10;
}

.title-container {
  position: absolute;
  margin: $outer-margin;
  width: 100%;
  text-align: left;
  text-transform: full-width;
}

// Firefox Overrides
::-moz-range-track {
  background: $shade-10;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}