body {
  background-color: #DDF5FF;
  font-family: "Raleway", sans-serif;
}

/* Social buttons */
.media {
  font-size: 4ex;
  color: transparent;
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #003d52;
  -webkit-text-stroke: 1.5px #e47c66;
}

.media:hover {
  color:#74b8ff;
  -webkit-text-stroke: 1px #74b8ff;
}

.heading {
  color: #003d52;
  font-size: 8ex;
}

.heading:hover {
  cursor: default;
}

.centered-right {
  position: absolute;
  text-align: left;
  top: 33%;
  right: 10%;
  width: 66%;
}

.centered-left {
  position: absolute;
  text-align: right;
  top: 33%;
  left: 10%;
  width: 66%;
}

/* Control the left side */
.left {
  left: 5%;
}

/* Control the right side */
.right {
  right: 5%;
}

.side {
  top: 0;
  height: 90vh;
  width: 5vw;
  background-color: #e47c66;
  border-top-width: 0;
  border-color: #003d52;
  border-style: dashed;
  position: fixed;
}

.farleft {
  border-right-width: 2px;
  border-left-width: 0;
  left: 0;
}

.farright {
  border-left-width: 2px;
  border-right-width: 0;
  right: 0;
}

.bcorner {
  border: none;
  bottom: 0;
  height: 5vh;
  width: 5vw;
  background-color: #74b8ff;
}

.bottom {
  width: 90vw;
  height: 10vh;
  left: 5%;
  right: 5%;
  bottom: 0;
  background-color: #003d52;
  position: fixed;
  border-top-width: 2px;
  border-bottom-width: 0;
  border-color: #f27572;
  border-style: dashed;
}

/* Split the screen in half */
.split {
  height: 90%;
  width: 45%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.vertical-br {
  left: 50%;
  top: 0%;
  width: 1px;
  height: 90%;
  border-width: 2px;
  border-style: dashed;
  border-color: #e47c66;
  background-color: transparent;
  z-index: 1;
  position: fixed;
}

.project {
  color: #e41915;
}

p {
  font-size: 16px;
  color: #003d52;
}

.about-wrapper {
  padding: 10px;
  width: 100%;
  right: 0;
  bottom: 5%;
  height: auto;
  position: relative;
  border-style: dashed;
  border-color: #003d52;
  background-color: transparent;
}